<!DOCTYPE html>
<html lang="pl">
<head>
	<title>Paczuch Express Delivery</title>
	<meta charset="utf-8">
	<link href="styles/style.css" rel="stylesheet" type="text/css">
	<script src="scripts/script.js"></script>
</head>
<body>
<header>
	<h2>Paczuch Express Delivery</h2>
</header>
<nav>
	<ul>
		<li><a href="/">Strona główna</a></li>
		<li><a href="/register">Zarejestuj się</a></li>
		<li><a href="/contact">Kontakt</a></li>
	</ul>
</nav>
<section>
	<h3>Nadaj szybko przesyłkę</h3>
	<p>Musisz nadać szybko przesyłkę? Boisz się formalności jakie narzucają na Ciebie tradycyjne paczkomaty? Z nami to już nie problem! Dzięki innowacyjnemy systemowi informatycznemu</p>
</section>
<article>
	<h3>Dostawa już następnego dnia</h3>
	<p>Czy miałeś tak kiedyś, że zamawiasz coś przez Internet i zaraz po zakupach już nie możesz się doczekać, kiedy wesoła paczucha pojawi się w progu Twoich drzwi? My też tak mamy, dlatego staramy się maksymalnie skracać czas podróży przesyłki, aby jak najszybciej trafiła do swojego szczęśliwego odbiorcy. Dzięki pracy wysokiej klasy fachowców logistyki oraz dzięki wielomilionowym inwestycjom w najnowszą technologię, dostarczamy paczki już nawet następnego dnia! 90% paczek jest odbieranych jeszcze tego samego dnia od nadawcy. 84% paczek jest dostarczanych już następnego dnia po nadaniu! To ogólnopolski rekord! Sprawdź koniecznie sam!</p>
</article>
<article>
	<h3>Szybko i tanio? Da się!</h3>
	<p>Mała przesyłka na jutro? Nie ma problemu. Duża przesyłka, ale nie chcesz na nią wydać milionów monet? Żaden problem. W Paczuch Delivery Express każdy znadzie coś dla siebie, co odpowiada jego wymaganiom i potrzebom. Sprawdź przy pomocy tabelki ile będzie kosztować transport Twojej przesyłki!</p>
	<caption>Cennik Pachuch Delivery Express</caption>
	<table  class="color-table">
		<thead>
		<tr>
			<th class="tg-za14">Rozmiar przesyłki</th>
			<th class="tg-7zrl">Jak najszybciej! Express!</th>
			<th class="tg-7zrl">Standard</th>
			<th class="tg-7zrl">Ekonomiczna</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tg-7zrl">Do 0,5 kg</td>
			<td class="tg-7zrl">15 PLN</td>
			<td class="tg-7zrl">12 PLN</td>
			<td class="tg-7zrl">9 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 0,5 kg do 1 kg</td>
			<td class="tg-7zrl">16 PLN</td>
			<td class="tg-7zrl">13 PLN</td>
			<td class="tg-7zrl">10 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 1 kg do 3 kg</td>
			<td class="tg-7zrl">18 PLN</td>
			<td class="tg-7zrl">15 PLN</td>
			<td class="tg-7zrl">13 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 3 kg do 5 kg</td>
			<td class="tg-7zrl">22 PLN</td>
			<td class="tg-7zrl">18 PLN</td>
			<td class="tg-7zrl">15 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 5 kg do 10 kg</td>
			<td class="tg-7zrl">25 PLN</td>
			<td class="tg-7zrl">20 PLN</td>
			<td class="tg-7zrl">17 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 10 kg do 20 kg</td>
			<td class="tg-7zrl">30 PLN</td>
			<td class="tg-7zrl">25 PLN</td>
			<td class="tg-7zrl">21 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Od 20 kg do 30 kg</td>
			<td class="tg-7zrl">36 PLN</td>
			<td class="tg-7zrl">29 PLN</td>
			<td class="tg-7zrl">25 PLN</td>
		</tr>
		</tbody>
	</table>
</article>
<article>
	<h3>Abonament? Czemu nie?</h3>
	<p>Wysyłasz dużo paczek? Abonament wysyłkowy jest tym, czego dokładnie poszukujesz. To <b>jedyne</b> takie rozwiązanie na rynku transportowym. Oferujemy różnorodne pakiety abonamentowe, dzięki temu każdy znajdzie coś dla siebie. Płacisz raz, a zyskujesz spokój od opłat na cały miesiąc. Dzięki temu wysyłanie paczek jeszcze nigdy nie było tak proste!</p>
	<table class="color-table">
		<caption>Nobliści XXI wieku</caption>
		<thead>
		<tr>
			<th class="tg-za14">Abonament</th>
			<th class="tg-7zrl">Pakiet</th>
			<th class="tg-7zrl">Max liczba przesyłek w miesiącu</th>
			<th class="tg-7zrl">Ubezpieczenie</th>
			<th class="tg-7zrl">Cena</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="tg-7zrl">Premium Plus</td>
			<td class="tg-7zrl">Express!</td>
			<td class="tg-7zrl">100</td>
			<td class="tg-7zrl">Tak</td>
			<td class="tg-7zrl">1 500 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Premium </td>
			<td class="tg-7zrl">Express!</td>
			<td class="tg-7zrl">50</td>
			<td class="tg-7zrl">Tak</td>
			<td class="tg-7zrl">800 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Little Premium</td>
			<td class="tg-7zrl">Express!</td>
			<td class="tg-7zrl">20</td>
			<td class="tg-7zrl">Tak</td>
			<td class="tg-7zrl">360 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Standard Plus</td>
			<td class="tg-7zrl">Standard</td>
			<td class="tg-7zrl">70</td>
			<td class="tg-7zrl">Tak</td>
			<td class="tg-7zrl">840 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Standard</td>
			<td class="tg-7zrl">Standard</td>
			<td class="tg-7zrl">30</td>
			<td class="tg-7zrl">Tak</td>
			<td class="tg-7zrl">450 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Economy Plus</td>
			<td class="tg-7zrl">Ekonomiczna</td>
			<td class="tg-7zrl">70</td>
			<td class="tg-7zrl">Nie</td>
			<td class="tg-7zrl">630 PLN</td>
		</tr>
		<tr>
			<td class="tg-7zrl">Economy</td>
			<td class="tg-7zrl">Ekonomiczna</td>
			<td class="tg-7zrl">20</td>
			<td class="tg-7zrl">Nie</td>
			<td class="tg-7zrl">300 PLN</td>
		</tr>
		</tbody>
	</table>
</article>

<footer>
	<p class="footer-inline left">&copy; 2020 Krzysztof Anderson</p>
	<p class="footer-inline right">proudly powered by <img src="images/notepad25.jpg" alt="notepad icon"/></p>
</footer>
</body>
</html>