<!DOCTYPE html>
<html lang="pl">
<head>
	<title>Paczuch Express Delivery</title>
	<meta charset="utf-8">
	<link href="styles/style.css" rel="stylesheet" type="text/css">
	<script src="scripts/script.js"></script>
</head>
<body>
<header>
	<h2>Paczuch Express Delivery</h2>
</header>
<nav>
	<ul>
		<li><a href="/">Strona główna</a></li>
		<li><a href="/register">Zarejestuj się</a></li>
		<li><a href="/contact">Kontakt</a></li>
	</ul>
</nav>
<section>
	<h3>Nadaj szybko przesyłkę</h3>
	<p>Musisz nadać szybko przesyłkę? Boisz się formalności jakie narzucają na Ciebie tradycyjne paczkomaty? Z nami to już nie problem! Dzięki innowacyjnemy systemowi informatycznemu</p>
</section>
<article>
	<h3>Dostawa już następnego dnia</h3>
	<p>Suspendisse potenti. Aliquam sed nulla id odio malesuada elementum ut sit amet tellus. Aliquam pharetra eros sit amet scelerisque pellentesque. Ut sollicitudin ligula vel tortor ultricies, porttitor consequat nisi efficitur. Sed eget lectus nibh. Pellentesque dignissim augue sit amet eleifend consequat. Nunc posuere elit maximus sollicitudin bibendum. Aenean posuere sapien at elit convallis venenatis. Nullam sollicitudin eros justo. Cras vitae nibh a libero faucibus volutpat quis eu orci. Sed non finibus ligula. Aenean nec pretium augue. Pellentesque interdum sagittis lectus, nec imperdiet dui rhoncus varius.</p>
</article>
<article>
	<h3>Szybko i tanio? Da się!</h3>
	<p>Przedstawiamy Państwu Polskich Laureatów Nagrody Nobla w dziedzinie literatury.</p>
	<table>
		<caption>Laureaci literackiej Nagrody Nobla</caption>
		<tbody>
		<tr>
			<td><img src="images/Wislawa_Szymborska.jpg" alt="Wisława Szymborska"/></td>
			<td colspan="2">Wisława Szymborska</td>
		</tr>
		<tr>
			<td colspan="2">Olga Tokarczuk</td>
			<td><img src="images/Olga_Tokarczuk.jpg" alt="Olga Tokarczuk"/></td>
		</tr>
		<tr>
			<td>Czesław Miłosz</td>
			<td><img src="images/Czeslaw_Milosz.jpg" alt="Czesław Miłosz"></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</article>
<article>
	<h3>A co na świecie słychać?</h3>
	<p>Poznajmy kilku noblistów z XXI wieku wraz z ich datą otrzymania Nobla.</p>
	<table class="color-table">
		<caption>Nobliści XXI wieku</caption>
		<thead>
		<tr>
			<td>Lp.</td>
			<td>Imię</td>
			<td>Nazwisko</td>
			<td>Dziedzina / kategoria</td>
			<td>Rok przyznania</td>
		</tr>
		</thead>
		<tbody id="laureates_tbody">
		<tr>
			<td>1</td>
			<td>David</td>
			<td>Gross</td>
			<td>Fizyka</td>
			<td>2004</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Awram</td>
			<td>Herszko</td>
			<td>Biologia</td>
			<td>2004</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Martin</td>
			<td>Chalfie</td>
			<td>Biologia</td>
			<td>2005</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Angus</td>
			<td>Deaton</td>
			<td>Ekonomia</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Swiatłana</td>
			<td>Aleksijewicz</td>
			<td>Literatura</td>
			<td>2015</td>
		</tr>
		</tbody>
	</table>
</article>

<footer>
	<p class="footer-inline left">&copy; 2020 Krzysztof Anderson</p>
	<p class="footer-inline right">proudly powered by <img src="images/notepad25.jpg" alt="notepad icon"/></p>
</footer>
</body>
</html>