<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Fromularz rejestracji - PED</title>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <script src="scripts/registration.js"></script>
</head>
<body>
<header>
    <h2>Paczuch Express Delivery</h2>
</header>
<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/register">Zarejestuj się</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
</nav>
<section>

    <h3>Zarejestruj się</h3>

    <table class="registation-table">
    <form id="registration-form" class="registration-form">
        <tbody>
        <tr>
            <td><label for="login" class="required">Login</label></td>
            <td colspan="2"><input id="login" type="text" name="login"/></td>
        </tr>

        <tr>
            <td><label for="pesel" class="required">PESEL</label></td>
            <td colspan="2"><input id="pesel" type="text" name="pesel"/></td>
        </tr>

        <tr>
            <td><label for="password" class="required">Hasło</label></td>
            <td colspan="2"><input id="password" type="password" name="password"/></td>
            <br/>
        </tr>

        <tr>
            <td><label for="repeat-password" class="required">Powtórz hasło</label></td>
            <td colspan="2"><input id="repeat-password" type="password" name="repeat-password"/></td>
        </tr>

        <tr>
            <td colspan="2"><input id="button-reg-form" type="submit" value="Rejestruj"/></td>
        </tr>

    </form>

</section>

<footer>
    <p class="footer-inline left">&copy; 2020 Krzysztof Anderson</p>
    <p class="footer-inline right">proudly powered by <img src="images/notepad25.jpg" alt="notepad icon"/></p>
</footer>
</body>
</html>