<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Fromularz rejestracji - PED</title>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <script src="scripts/registration.js"></script>
</head>
<body class="registration_body">
<nav>
    <div class="logo">
        <img class="logo_image" src="images/logo.png" alt="logo">
        <h4 class="logo_title">Paczuch Express Delivery</h4>
    </div>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/register">Zarejestuj się</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
</nav>
<section>

    <h2>Zarejestruj się</h2>

    <table class="registation-table">
    <form id="registration-form" class="registration-form">
        <tbody>
        <tr>
            <td><label for="login" class="required">Login</label></td>
            <td colspan="2"><input id="login" type="text" name="login" class="input-field"/></td>
        </tr>

        <tr>
            <td><label for="pesel" class="required">PESEL</label></td>
            <td colspan="2"><input id="pesel" type="text" name="pesel" class="input-field"/></td>
        </tr>

        <tr>
            <td><label for="password" class="required">Hasło</label></td>
            <td colspan="2"><input id="password" type="password" name="password" class="input-field"/></td>
            <br/>
        </tr>

        <tr>
            <td><label for="second_password" class="required">Powtórz hasło</label></td>
            <td colspan="2"><input id="second_password" type="password" name="second_password" class="input-field"/></td>
        </tr>

        <tr>
            <td colspan="2"><input id="button-reg-form" type="submit" value="Rejestruj" /></td>
        </tr>

    </form>

</section>

<footer>
    <p class="footer-inline left">&copy; 2020 Krzysztof Anderson</p>
    <p class="footer-inline right">proudly powered by <img src="images/notepad25.jpg" alt="notepad icon"/></p>
</footer>
</body>
</html>