body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cambay', sans-serif;
    padding-bottom: 46px; /* it must be the same size as footer height */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: brown;
}

nav ul li a:hover {
    background-color: #F0F0F0;    
}

section p,
article p {
    text-indent: 25px;
}

section h3 {
    color: darkorange;
}

section p {
    color: orange;
}

article h3 {
    color: darkseagreen;
}

article p {
    color: seagreen;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid darkgoldenrod;
}

td, img {
    vertical-align: bottom;
}

.caption-bottom {
    caption-side: bottom;
}

.color-table tr:nth-child(odd) {
    background-color: lightyellow;    
}

.color-table tr:nth-child(even) {
    background-color: lightpink;
}

.color-table thead tr {
    background-color: lightgrey !important;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: aliceblue;
    max-width: inherit;
    width: 100%;
    height: 46px;
    font-size: 15px;
}

.footer-inline {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.footer-img {
    vertical-align: middle;
}